*{
    margin: 0;
    padding: 0;
}

header{

 
}   
 .div-header{
        background-color: chartreuse;
       display: flex;
       justify-content: space-between;
}

.logo{
    background-color: #343434;
    width: 100px;
}

.menu{
    background-color: #567856;
}

.div-title{
    background-color: rgb(124, 31, 31);
    display: flex;
    align-items:center;
}