*{
    margin: 0;
    padding: 0;
}

header{

 
}   
 .div-header{
        background-color: chartreuse;
       display: flex;
       
}

.logo{
    background-color: #343434;
    width: 100px;
}

.menu{
    background-color: #567856;
}